@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Roboto:wght@300;400;500&display=swap');

:root {
  --main-color: #0A8B74;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: inherit;
}
